* {
  box-sizing: border-box;
}

p {
  width: 500px; 
  border: 2px solid red;
  background-color: rgb(237, 237, 199);  
}

span {
    border: 2px solid blue;
}

img {
  height: 30px;
  width: 400px;
}
