* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 250px;
  background-image: url(./imagebanner.jpeg);
  padding-bottom: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100px; 
}

.nav_section {
  color: white;
  opacity: 0.5;
  font-size: 40px;
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.nav_icon {
  height: 60px;
  margin-right: 15px;
  cursor: pointer;
}



input {
  border: none;
  border-radius: 10px;
  outline: none;
}

